<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyBg1x5ElyK0IdBAPjyahYouYqOJVEwtz4o</string>
	<key>GCM_SENDER_ID</key>
	<string>487118386482</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.human-a-team.gff2026a</string>
	<key>PROJECT_ID</key>
	<string>gff2026a-unity</string>
	<key>STORAGE_BUCKET</key>
	<string>gff2026a-unity.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:487118386482:ios:05e0f40e26a301dd4e132b</string>
</dict>
</plist>